@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "./theme/fonts/fonts.css";

@import "./theme/loader.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}
